[Desktop Entry]
Version=1.0
Name=Emulationstation
Comment=Connect to my server
Exec=bash -c "$HOME/es-resolution.sh"
Icon=es
Terminal=false
Type=Application
Categories=Application;

Name[fr_FR]=Emulationstation
