[Desktop Entry]
Version=1.0
Name=SSH BATOCERA
Comment=Connect to my server
Exec=gnome-terminal -e "bash -c 'sshpass -p linux ssh root@BATOCERA.LOCAL; exec bash'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;

